@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

header {
  position: fixed;
  width: 100%;
  top: 0px;
}

.infobg {
  background-color: #012a53;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
}

.info .logan {
  display: flex;
}

.info .logan .logo {
  margin-left: 15px;
}

.logo {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2.2rem;
}

.menubg {
  background-color: #002244;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 90%;
}

.navBarLink {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-top: 2px;
}

.navBarLinkActive {
  border-bottom: 2px solid #f4ffff;
  transition: border-bottom 0.5s ease-in-out;
  padding-top: 2px;
}

.navBarLink:hover {
  transform: translateY(-2px);
}

.logo,
.navBarLink {
  color: #edf2f4;
}

input[type='text'] {
  width: 300px;
  padding: 9px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0;
  text-align: center;

  background: #0f5397;
  background-image: url('../../Assets//search-icon.png');
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-y: -12px;
  background-position-x: -12px;
}

input[type='text']::placeholder {
  color: #f4ffffb7;
  opacity: 0.8;
}

@media (max-width: 570px) {
  .menu {
    display: none;
  }

  .info .logan {
    display: none;
  }

  form {
    width: 100%;
  }

  input[type='text'] {
    width: 100%;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 4px auto;

    transition-duration: 0.3s;
  }

  .menuToggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .menuOn {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #002244;
    z-index: 9999;
  }

  .menuOn .menu {
    display: block;
  }

  .menuOn .menuToggle {
    position: absolute;
    top: 10px;
    right: 1px;
  }

  .menuOn .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menuOn .two {
    opacity: 0;
  }

  .menuOn .three {
    transform: rotate(-45deg) translate(6px, -5px);
  }

  .menuOn .menu {
    display: block;
  }

  .menuOn .menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .menuOn .menu a {
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
