@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

header {
  position: fixed;
  width: 100%;
  top: 0px;
}

.infobg {
  background-color: #012a53;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
}

.info .logan {
  display: flex;
}

.info .logan .logo {
  margin-left: 15px;
}

.logo {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2.2rem;
}

.menubg {
  background-color: #002244;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 90%;
}

.navBarLink {
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.navBarLinkActive {
  border-bottom: 3px solid #f4ffff;
}

.navBarLink:hover {
  transform: translateY(-2px);
}

.logo,
.navBarLink {
  color: #edf2f4;
}

input[type='text'] {
  width: 340px;
  padding: 9px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0;
  text-align: center;

  background: #0f5397;
  background-image: url('../../Assets//search-icon.png');
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-y: -12px;
  background-position-x: -12px;
}

input[type='text']::placeholder {
  color: #f4ffffb7;
  opacity: 0.8;
}
