.mainContent {
  background: linear-gradient(to top, #e5e5be, #003973);
  margin-top: 6rem;
  margin-bottom: 50px;
  height: 100%;
  color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainSection {
  background: #f4ffff;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
}

@media (min-height: 1100px) {
  .mainContent {
    height: 100vh;
  }
}
